/* FONTS */
@font-face {
  font-family: "koulen";
  src: url(Koulen/Koulen-Regular.ttf) format("woff2");
} /* font-family: 'koulen', cursive */

/* Display: Mobil */
@media (max-width: 600px) {
  .body,
  section,
  article,
  header,
  footer,
  video,
  iframe,
  .text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 500px;
    max-height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: justify;
  }
  }

/*@media (min-width: 1600px) {
  .h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 295px;
    left: 37px;
    font-size: 5rem;
    color: #e0bb88;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: -5px;
  }
}
@media (max-width: 800px) {
  .h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 295px;
    left: 37px;
    font-size: 3rem;
    color: #e0bb88;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: -5px;
  }
}
