* {
  box-sizing: border-box;
  margin: 0;
}
main {
  max-width: 1000px;
  margin: 0, auto;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  max-width: 1600px;
}

img {
  width: 100%;
  height: auto;
}
.h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  align-items: center;
  font-size: 13vw;
  color: #e0bb88;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: -5px;
}

.text {
  color: #8d6e4e;
}
.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}

.splash {
  display: grid;

  align-items: center;
  padding: 35px;
  background: #e0bb88;
  padding-block: 11px;
}
.splash > * {
  grid-area: 1/1;
}
.splash .h1 {
  place-self: end center;
}

.video {
  display: flex;
  justify-content: center;
  aspect-ratio: 16/9;
}
#video1 {
  margin-inline: 100px;
}

.iframe {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ========== section ========== */
section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background: #e0bb88;
}

/* ========== article ========== */
article {
  grid-column: 2;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

p + figure {
  /* Ved siden af */
  margin-top: 1rem;
  text-align: left;
}

/* ========== gallery ========== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}
