* {
  box-sizing: border-box;
  margin: 0;
}
main {
  max-width: 1000px;
  margin: 0, auto;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #e0bb88;
  color: rgb(0, 0, 0);
  max-width: 1600px;
  transition: 1s;
}
.header {
  background: #8d6e4e;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  color: #e0bb88;
  position: sticky;
}
.footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: #8d6e4e;
  color: #e0bb88;
  position: sticky;
  top: 830px;
}
/* KNAP FUNKTION */
body.dark {
  background: orange;
  color: brown;
}
.header.dark {
  background: brown;
  color: orange;
}
/* KNAP */
.mode {
  background: #8d6e4e;
  border-color: #e0bb88;
  border-style: inset;
  color: #e0bb88;
  transition: 1s;
}
.mode:hover {
  background: #8d6e4e;
}

/*
  1. Ændr evt. baggrundsfarve, når body har klassen .dark
  -> .dark .banner { ... }
  2. Tilføj evt. en hover-effekt
  -> .dark .mode:hover { ... }
*/
.dark .mode:hover {
  background: hsl(0, 75%, 65%);
}
.dark .mode {
  background: hsl(255, 75%, 60%);
}
.dark .header {
  background: orange;
}
.dark.mode:hover {
  background: brown;
}
img {
  width: 100%;
  height: auto;
}
.h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  align-items: center;
  font-size: 13vw;
  color: #e0bb88;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: -5px;
}

/* SPLASH, CONTAINERE */

.text {
  color: #8d6e4e;
  padding-block: 20px;
}
.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}
.favicon {
  height: 50px;
  width: 50px;
}

.splash {
  display: grid;
  align-items: center;
  padding: 35px;
  background: #e0bb88;
  padding-block: 11px;
  transition: 1s;
}
.splash > * {
  grid-area: 1/1;
}
.splash .h1 {
  place-self: end center;
}

.video {
  display: flex;
  justify-content: center;
  padding-block: 30px;
}
#video1 {
  margin-inline: 100px;
  max-width: 560px;
}

.iframe {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ========== section ========== */
section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background: #e0bb88;
  transition: 1s;
}

/* ========== article ========== */
article {
  grid-column: 2;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

p + figure {
  /* Ved siden af */
  margin-top: 1rem;
  text-align: left;
}

/* ========== gallery ========== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}
